{% extends "layout.html" %}

<!-- The "extends" snippet will call my layout file, so that I can show the Bootstrap CSS, the footer, and the navbar
in here -->

{% load static %}

<!-- I will call the “block body” tag on the index.html file to call the code from the layout file on the index file.

All of the text and content will go here.
-->
{% block body %}

    <!--  This will render the game and anything that should only be rendered if the user's logged in.
        
        I’m ready to start creating the JS code for the game. Remember: that will only be displayed IF THE USER IS
    LOGGED IN. That is, the <canvas> will only show up for logged users.

        I will put <canvas> tags in the home page to render the game. This will only be rendered if the user’s logged in.
            
    The canvas is being rendered BELOW the “Hello, USERNAME” line. That is because I didn’t need to add a <canvas> tag. 
    By calling Phaser, the <canvas> tag is automatically created. So, I will delete the canvas tag. Also, I will call 
    the <script> with index.js right above the “Hello, USERNAME” text, so that the canvas is right below the navbar. 
    The reason why the Phaser canvas is being rendered below the “Hello, USERNAME” text is because I’m putting 
    the index.js script below that line of text. 

    create a div with an ID right where I want to render the game’s <canvas>, and then add that ID name as a parameter 
    in Phaser's "config" (source: bFunc’s reply on 
    https://stackoverflow.com/questions/20526933/html-moving-phaser-into-container-div )

    I changed my mind and I want to call the JS script only if the user is logged in. I'm doing this to prevent a bug that 
    renders the canvas even if the user is not logged in.

    -->
    {% if user.is_authenticated %}    <!-- This will render if the user is logged in -->

    <!-- This will render the <canvas> and the game -->
    <div id="keith-game"></div>

    <!-- Script with the main Phaser code -->
    <script src="{% static 'js/index.js' %}"></script> 

    <!-- <canvas>
    </canvas>    -->
    <!-- End of the canvas -->



    <!-- DEBUG msg. This will display the logged user's username. I might put this somewhere else, or delete it entirely. -->
    <div>
        <p>
            Hello, {{user.username}}!
        </p>
    </div>



    {% else %}  <!-- This will render if the user's not logged -->

        <!-- I’ll use a Bootstrap grid to divide the screen into 2 halves: one for the text, and another for a
        screenshot of the game. For that, I’ll create 1 row and 2 columns. I could use one of my wireframes as a
        placeholder for the screenshot of the game.
        -->
        <div class="row">   <!-- Bootstrap row -->
            <div class="col-md">   <!-- Left column of the 1x2 grid -->
                <p>
                    This is Keith, a web game about the relationship between two anthropomorphic foxes: Fang, and his
                    adoptive son, Keith. You'll play as Fang, and you'll have to fight robots.
                </p>
                <p>
                    This is Eduardo Salinas' submission for CS50's Web Programming with Python and JavaScript's final
                    project.
                </p>
                <br>
                <p> <!-- Sign up link -->
                    You need to <a href="#">sign up</a> to play.
                </p>
                <p> <!-- Log in link -->
                    Already have an account? <a href="#">Log in</a> to play!
                </p>
                <br>
                <p>
                    Note: the game won't look good on landscape mode (horizontal mode). If you plan in playing the game on a mobile phone,
                    please use portrait mode (vertical mode).
                </p>
            </div>
            <div class="col-md"> <!-- Right column of the 1x2 grid -->

                <!-- Screenshot of the game.

                I added the dimension of the image in "rem" so that the image is responsive, and to prevent horizontal
                overflow on phone screens. -->
                <img src="{% static 'img/placeholder-screenshot.png' %}" alt="Keith's Screenshot" height="200 rem">
            </div>
        </div>

    {% endif %}
{% endblock %}