{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- I will fix the “static” folder so that Django detects it, and so that I can use the CSS and the JS from that
    folder. First, I will add a call to the script.js file folder in the layout file. This should be done right before
    closing the <body> tag. I should call the script using the “static” keyword.

    To load the static files, I need to put “load static” at the beginning of the layout page (source:
    https://docs.djangoproject.com/en/4.1/howto/static-files/ ).
    -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Since each page should ideally display a different title on the browser’s tab, I will use the “block title”
    tag to display the current page’s title (source: https://docs.djangoproject.com/en/4.1/ref/templates/language/ ) -->
    <title>{% block title %}Keith - Home Page{% endblock %}</title>

    <!-- Bootstrap's CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    <!-- I will call the CSS file using the “static” Django tag (source:
    https://www.digitalocean.com/community/tutorials/working-with-django-templates-static-files .) -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
</head>
<!-- <body 
  style="
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  "
> -->
<body>

    <!-- Bootstrap navbar (source: https://getbootstrap.com/docs/5.2/components/navbar/ ).

    I added "mb" to add a margin at the bottom of the navbar.

    I will hide the “sign up” and “login” links from the navbar if the user is logged in. Then, I will show a link to
    the “logout_user()” view in the navbar if they’re logged in.

    I will make it so that, if the user’s logged in, I will remove the padding between the navbar and the rest of the 
    page. I can do that using the “is_authenticated” decorator, and adding or deleting the Bootstrap class that adds 
    the padding depending on whether the user’s logged in.
    -->
    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-lg bg-light">  <!-- No padding below navbar -->
    {% else %}
      <nav class="navbar navbar-expand-lg bg-light mb-5"> <!-- Padding below navbar -->
    {% endif %}
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><b>Keith</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>

              <!-- This renders link to log out and hides the links to login and sign up -->
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout_user' %}">Log Out</a>
                </li>
              {% else %}    <!-- This shows the links to login or to sign up if the user's not logged in -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login_user' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sign_up' %}">Sign Up</a>
                </li>
              {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Legal</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>  <!-- End of navbar -->

    <!-- I will use the “block body” tag so that I can insert HTML code from other pages inside the <body> tags of the
    layout file (source: https://docs.djangoproject.com/en/4.1/ref/templates/language/#template-inheritance .) -->
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>

    <!-- Bootstrap footer (source: https://getbootstrap.com/docs/5.2/examples/footers/ )

    I will add JS code to update the year in the copyright notice every year automatically (source:
    https://kerstinmartin.com/blog/copyright-notice .)-->
    <div class="container">
      <footer>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Legal</a></li>
        </ul>
        <p class="text-center text-muted">© <script>document.write(new Date().getFullYear())</script>
            Eduardo Salinas
        </p>
      </footer>
    </div>

    <!-- I'll add a cookie consent banner to the web app. I’ll use the cookie consent banner from Godson Thomas
    (source: https://github.com/Godsont/Cookie-Consent-Banner/blob/master/index.html .) -->
    <div class="cookie-container">
      <p>
        We use cookies in this website to give you the best experience on our
        site and show you relevant ads. To find out more, read our
        <a href="#">privacy policy</a> and <a href="#">cookie policy</a>.
      </p>

      <button class="cookie-btn">
        Okay
      </button>
    </div>  <!-- End of Cookie Banner -->

    <!-- My JS code -->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- Game JS code -->
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/classes.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

    <!-- Bootstrap's JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

</body>
</html>